.education {
    background-color: #1d1d1d;
    border: #111;

    .ant-divider {
        background-color: #a6a6a6;
        margin: 5px;
    }
}

#title {
    color: #fff;
    margin-top: 10px;
}

#title4 {
    color: #fff;
    margin-top: 0px;
    margin-left: 5px;
}

#gradient {
    background: linear-gradient(90deg, rgba(250,82,82,1) 0%, rgba(221,36,118,1) 98%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: large;
}

#paragraph {
    color: #a6a6a6;
    margin-left: 5px;
}

#colTags {
    margin-left: 5px;
}

#btn {
    margin: -5px;
    background-color: #1d1d1d;
    border-color: #1d1d1d;
    color: #fff;
}

#paragraph2 {
    color: #a6a6a6;
    margin-left: 5px;
    font-size: 13px;
}